<div class="login">
  <div class="images">
    <img class="images__img1" src="../../assets/background.png" alt="background" />
    <img class="images__img2" src="../../assets/logo.png" alr="logo" />
  </div>
  <div class="container">
    <p class="container__p">Sign in</p>
    <form class="form" [formGroup]="formGr">
      <div class="form__input">
        <mat-form-field>
          <input matInput placeholder="E-mail" #email (focus)="email.placeholder = ''"
            (blur)="email.placeholder = 'E-mail'" />
        </mat-form-field>
      </div>
      <div class="form__input">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" #password (focus)="password.placeholder = ''"
            (blur)="password.placeholder = 'Password'" />
        </mat-form-field>
      </div>
    </form>
    <ngx-spinner></ngx-spinner>
    <div class="authentication">
      <div class="authentication__a1">
        <a href="forgot-password">Forgot password?</a>
      </div>
      <button class="authentication__button" (click)="onSubmit(email.value, password.value)">
        Sign In
      </button>
      <div class="authentication__a2">
        <a href="/signup">Sign Up</a>
      </div>
    </div>
    <div class="container__footer">
      <p class="footer__p">
        By accessing your account, you agree to our
      </p>
      <p class="footer__p">
        <a href="terms-conditions">Terms conditions</a> and
        <a href="privacy-policy">Privacy Policy</a>
      </p>
    </div>
  </div>
</div>