<div class="forgot-pwd">
  <div class="images">
    <img class="images__img1" src="../../assets/background.png" alt="background" />
    <img class="images__img2" src="../../assets/logo.png" alr="logo" />
  </div>

  <div class="container">
    <div class="container__a">
      <a href="todos"><img src="../../assets/ic_arrow_left.png" /></a>
    </div>
    <h1 class="container__h1">Change Password</h1>
    <form class="form" [formGroup]="reactiveForm">
      <div class="form__input">
        <mat-form-field>
          <input matInput type="{{ prevPasswordType }}" id="prevPassword" formControlName="prevPassword"
            placeholder="Password" #prevPassword (focus)="prevPassword.placeholder = ''"
            (blur)="prevPassword.placeholder = 'Password'" />

          <span class="form__input__img" *ngIf="prevPasswordType === 'password'" (click)="toggleType(prevPassword.id)">
            <img src="../../assets//ic_eye_visible.png" />
          </span>
          <span class="form__input__img" *ngIf="prevPasswordType === 'text'" (click)="toggleType(prevPassword.id)">
            <img src="../../assets/ic_eye_unvisible.png" />
          </span>
        </mat-form-field>
      </div>
      <div class="form__input">
        <mat-form-field>
          <input matInput type="{{ passwordType }}" id="password" formControlName="password" placeholder="New password"
            #password (focus)="password.placeholder = ''" (blur)="password.placeholder = 'New password'" />
          <span class="form__input__img" *ngIf="passwordType === 'password'" (click)="toggleType(password.id)">
            <img src="../../assets/ic_eye_visible.png" />
          </span>
          <span class="form__input__img" *ngIf="passwordType === 'text'" (click)="toggleType(password.id)">
            <img src="../../assets/ic_eye_unvisible.png" />
          </span>
          <span *ngIf="password.value !== ''">
            <span class="error" *ngIf="reactiveForm.hasError('invalidLength')">
              Minimum password length: 8
            </span>
            <span class="error" *ngIf="reactiveForm.hasError('spaceOrNewLine')">
              Spaces and new lines are not allowed
            </span>
            <span class="error" *ngIf="reactiveForm.hasError('fewCapitals')">
              At least 2 capital letters required
            </span>
            <span class="error" *ngIf="reactiveForm.hasError('fewDigits')">
              At least 1 digit required
            </span>
            <span class="error" *ngIf="reactiveForm.hasError('fewSpecialChars')">
              At least 1 special character required (@,.!?^ and etc.)
            </span>
          </span>
        </mat-form-field>
      </div>
      <div class="form__input">
        <mat-form-field>
          <input matInput type="{{ confPasswordType }}" id="confPassword" formControlName="confPassword"
            placeholder="Confirm password" #confPassword (focus)="confPassword.placeholder = ''"
            (blur)="confPassword.placeholder = 'Confirm password'" />
          <span class="form__input__img" *ngIf="confPasswordType === 'password'" (click)="toggleType(confPassword.id)">
            <img src="../../assets//ic_eye_visible.png" />
          </span>
          <span class="form__input__img" *ngIf="confPasswordType === 'text'" (click)="toggleType(confPassword.id)">
            <img src="../../assets/ic_eye_unvisible.png" />
          </span>
          <span class="error" *ngIf="reactiveForm.hasError('invalidPwds')">
            Passwords does not match
          </span>
        </mat-form-field>
      </div>
    </form>
    <button class="container__button" (click)="onSubmit(prevPassword.value, password.value)">
      Change password
    </button>
  </div>
</div>