.forgot-pwd {
  display: flex;
  font-family: "Open Sans", sans-serif;
}

.images {
  height: 100vh;
  width: 90%;
  position: relative;

  .images__img1 {
    height: 100%;
    width: 100%;
  }

  .images__img2 {
    position: absolute;
    width: 249px;
    height: 131px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container__a {
  padding: 6.9% 91.7% 0% 7.1%;
}

.container__h1 {
  margin: 0;
  padding-top: 19%;
  padding-bottom: 2.9%;
  font-family: "Comfortaa";
  font-size: 24px;
}

.container__p {
  font-size: 16px;
  color: #bbbbc7;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 58%;
  padding-top: 14%;
  padding-bottom: 14%;
}

.container__button {
  width: 257px;
  height: 47px;
  outline: none;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  background: linear-gradient(238deg, #2f80ed 0%, #56ccf2 100%);
  border-radius: 26px;
  border-style: none;
  font-family: "Open Sans", sans-serif;
}

.mat-form-field {
  width: 100%;
  font-size: 16px;
}
